@font-face {
  font-family: jeju;
  src: url(Jeju.ttf);
}
* {
  box-sizing: boarder-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: jeju;
}
  .in{
    /* background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(221, 202, 202, 0.851),
    rgb(229, 183, 183)
  ); */
  padding: 10px 150px 5px 150px;
}
.NavBar h2{
  
}
li,
a {
  color: black;
  text-decoration: none;
  list-style: none;
}
.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0 13px;
  border-bottom: solid 1px black;
  font-size: 25px;
}
nav ul li {
  display: inline-block;
  padding: 0 20px;
}
nav ul li a{
  color: rgba(19, 19, 19, 0.571);
}
.contact {
  color: rgba(183, 20, 20, 0.947);
}
.intro {
  margin-bottom: 30px;
  font-size: 40px;
  display: block;
  align-items: center;
  padding: 70px 0 40px;
  max-width: 1200px;
  /* background-image: linear-gradient(-43deg, red, brown, black);
  -webkit-background-clip: text; */
  color: black;
}
.intro div {
  padding: 10px 0 10px;
}
.intro2 {
  display: flex;
  align-items: center;
}
.intro2 div{
  border: none;
  border-radius: 0.5rem;
  height: 90px;
}
img{
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.brief {
  font-size: 30px;
  max-width: 1100px;
}
.moreInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0 60px;
}
.more {
  padding: 5px 100px 5px 30px;
  border: rgb(160, 20, 20);
  border-radius: 0.5em;
  background-color: rgb(160, 20, 20);
}
.moreInfo ul li {
  display: inline-block;
}
.moreInfo ul li button {
  padding: 5px 40px 5px 20px;
  border: rgb(202, 202, 202);
  border-radius: 0.5em;
  background-color: rgb(181, 181, 181);
}
nav ul li, .brief{
  color: rgb(107, 107, 107);
}
.proj{
  /* border: solid black; */
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.proj button{
  float: left;
  padding: 5px 15px 5px 5px;
  border: solid 1px rgb(160, 20, 20);
  background-color: rgb(160, 20, 20);
  border-radius: 0.2rem;
}
.projects {
  font-size: 40px;
  width: 600px;
}
.portfolio {
  width: 100%;
  margin: 40px 10px 40px 10px;
  display: flex;
  place-items: center;
  justify-content:baseline;
}
.portfolio li {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 30px;
}
.portfolio li div {
  margin: 40px 0 40px;
}
.imageHold{
  background-color: black;
  height: 250px;
  width: 400px;
  border-radius: 0.5rem ;
}
.profile {
  display: flex;
  place-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, red, brown, black);
  padding: 10px 50px 10px 40px;
  font-family: jeju;
  font-size: 30px;
  height: 500px;
}
.profile div {
  width: 40%;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.description{
  text-align: center;
  /* border: solid black; */
  margin-right: 30px;
}
.description h3,  
.description p,
.description button {
  margin: 40px 0 40px;
}
.description button {
  padding: 5px 15px 5px 5px;
  border: solid 1px rgb(160, 20, 20);
  background-color: rgb(160, 20, 20);
  border-radius: 0.2rem;
}
.image {
  height: 450px;
  width: 90px;
}
.image img{
  width: 100%;
  height: 100%;
}
.ino{
  padding: 10px 150px 5px 150px;
}
.contactHolder {
  margin: 100px 40px;
  height: 200px;
  background-color: black;
  padding: 18px;
  border-radius: 0.7rem;
}
.contacts {
  background-color: rgb(160, 20, 20);
  padding: 40px;
  height: 130px;
  border-radius: 0.7rem;
}
.contacts h3 {
  padding-bottom: 70px;
}
.footerContainer{
  display: flex;
  margin-bottom: 100px ;
}
.BottomNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.BottomNav ul li{
  display: inline-block;
  padding: 0 5px;
}
@media screen and (max-width: 425px){
  body{
    background-color:black;
  }
  .intro{
    color: red;
  }
}

